
the0x-labs/vagrant/basebox/.vagrant/machines/nex/vmware_desktop/a7fcb644-f8f8-4598-802a-b93dede6249b/

the0x-labs/vagrant/basebox/.vagrant/machines/nex/vmware_desktop/

*.plist

the0x-labs/vagrant/basebox/.vagrant/bundler/

the0x-labs/vagrant/basebox/.vagrant/machines/fedora-base/vmware_desktop/

the0x-labs/vagrant/basebox/.vagrant/rgloader/

the0x-labs/vagrant/hashicorp/vault/.vagrant/machines/vault/vmware_desktop/189c0d70-9959-4823-9132-083761dba58a/

the0x-labs/vagrant/hashicorp/vault/.vagrant/machines/vault/vmware_desktop/

the0x-labs/vagrant/hashicorp/vault/.vagrant/bundler/

the0x-labs/vagrant/hashicorp/vault/.vagrant/rgloader/
