
the0x-labs/vagrant/basebox/.vagrant/machines/nex/vmware_desktop/a7fcb644-f8f8-4598-802a-b93dede6249b/

the0x-labs/vagrant/basebox/.vagrant/machines/nex/vmware_desktop/

*.plist

the0x-labs/vagrant/basebox/.vagrant/bundler/

the0x-labs/vagrant/basebox/.vagrant/machines/fedora-base/vmware_desktop/

the0x-labs/vagrant/basebox/.vagrant/rgloader/

the0x-labs/vagrant/hashicorp/vault/.vagrant/machines/vault/vmware_desktop/189c0d70-9959-4823-9132-083761dba58a/

the0x-labs/vagrant/hashicorp/vault/.vagrant/machines/vault/vmware_desktop/

the0x-labs/vagrant/hashicorp/vault/.vagrant/bundler/

the0x-labs/vagrant/hashicorp/vault/.vagrant/rgloader/

*.txt

the0x-labs/aws/atsign-demo/.terraform.lock.hcl

the0x-labs/aws/atsign-demo/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.5/darwin_arm64/terraform-provider-tls_v4.0.5_x5

the0x-labs/aws/atsign-demo/.terraform/providers/registry.terraform.io/hashicorp/http/3.4.3/darwin_arm64/terraform-provider-http_v3.4.3_x5

the0x-labs/aws/atsign-demo/.terraform/providers/registry.terraform.io/hashicorp/aws/5.58.0/darwin_arm64/terraform-provider-aws_v5.58.0_x5

the0x-labs/aws/atsign-demo/sshnp.tgz

the0x-labs/packer/VM/amazon-linux/atsign/universal.sh

the0x-labs/aws/atsign-demo/.terraform/terraform.tfstate

.DS_Store

miscreants/.terraform.lock.hcl

the0x-labs/aws/lightsail-demo/.terraform.lock.hcl

the0x-labs/aws/lightsail-demo/.terraform/terraform.tfstate

tech-guides/azure/az-104/2 - Storage/azure-file-shares/.terraform/providers/registry.terraform.io/hashicorp/azuread/2.53.1/darwin_arm64/

tech-guides/azure/az-104/2 - Storage/azure-file-shares/.terraform/modules/

tech-guides/azure/az-104/2 - Storage/storage-security/.terraform/

*.hcl

the0x-labs/aws/HiveNet/.terraform/
